<div class="search-container">
    <svg routerLink="/">
        <image href="../../../assets/images/platforms/game-icon.svg" />
    </svg>
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <!-- <span class="logo" routerLink="/">NgVGDB</span> -->

        <input class="search-input" name="search" ngModel placeholder="Search 500,000+ games"/>
        <button class="search-button">Search</button>
    </form>
    <div class="wrapper">
        <div class="content">
            <img (click)="changeThem()" src="../../../assets/images/platforms/darkLight.png" alt="">
        </div>
    </div>

</div>



